<%= render 'partials/headline',
    headline: @club.name,
    page_name: 'members',
    current_tab: 'settings' %>

<div class="section-content">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Editing Club</h1>

        <%= render 'form', club: @club %>
      </div>
    </div>
  </div>
</div>
