<%= render 'partials/headline',
    headline: "All Clubs > #{current_province.name}",
    page_name: 'clubs',
    current_tab: 'new' %>

<div class="section-content">
  <div class="container">

    <h1>New Club</h1>

    <%= render 'form', club: @club %>

  </div>
</div>
