<!doctype html>
<html lang="en">

<%= render 'partials/header' %>

<body class="site has-navbar-fixed-top">

<%= render 'partials/navbar/top' %>

<main role="main" class="site-content">


      <%= yield %>

</main>

<%= render 'partials/footer' %>

<!-- <script src="/js/main.min.js?v=56399494"></script> -->
<!-- <script src="/vendor/ckeditor/ckeditor.js?v=1908113850"></script> -->
<!-- <script src="/vendor/ckeditor/adapters/jquery.js?v=776944630"></script> -->

</body>
</html>
