<!doctype html>
<html lang="en">

  <%= render 'partials/header' %>

  <body class="site">

    <main role="main" class="site-content aligner">

      <div class="aligner-item">
        <div class="container">

          <%= yield %>

        </div>
      </div>

    </main>

    <%= render 'partials/footer' %>

  </body>
</html>
