<%= render 'partials/headline',
    headline: "#{@club.name}: Members",
    page_name: 'members',
    current_tab: 'new' %>



<div class="secion-content">
  <div class="container">

    <h1>New Member</h1>

    <%= render 'form', member: @member %>
  </div>
</div>
