<html>
  <body>
    <h1>GAUTENG KARATE FEDERATION</h1>
    <h3>STUDENT AFFILIATION FORM - 2018</h3>

    <br />
    <br />

    <table>
      <tr>
        <td>
          NAME: <%= @member.first_name %>
        </td>
        <td>
          SURNAME: <%= @member.last_name %>
        </td>
      </tr>
    </table>
  </body>
</html>
